{% extends 'base.html' %}

{% block style %}
    <style>
        .softwarebox{
              background-color: white; 
              box-sizing:border-box;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              width:850px;
              background: linear-gradient( to right ,#1D1F25,#2B2C36);
              height:200px;
              margin-left: -25px;
              margin-top: 20px;
              }
         .software_image{
                width: 150px;
                height: 100px;
                margin-left: 20px;
                margin-top: 0px;
                float: left;
              }
        .software-name{

            color: #14FF2D;
            padding: 10px 0 0 20px;
    
        }      
        .form-label{
            padding: 0 0 0 20px;
            
        }
      
       button{
           display:block;
           background-color: #1D1F25;
           border: 1px solid #14FF2D ;
           cursor: pointer;
           padding: 5px 10px 6px 7px;
           color:#cccccc;
           border-radius: 3px;
       }
       button img{
           border: 0;
           padding:0;
           width: 16px;
           height:16px;
           
       }
       button.subm:hover{
           background-color:#14FF2D;
           border:1px solid #1D1F25;
           color:#1D1F25;
           border-radius: 3px;
       }

    </style>
    {% endblock %}

    {% block body %}
   
        <div class="softwarebox">  
            <p class="software-name"> <b>Battle Ground</b></p>
            <img class="software_image" src="resource/battleground.png" alt="image" >
           <!--조절바-->
           <form action="" method="post">
          <label for="customrange" class="form-label">사양정도</label>
          <input type="range" class="form-range" min="0" max="2" step="1"  list="tickmarks"/>

           <detalist id="tickmarks">
            <option value="0"></option>
            <option value="1"></option>
            <option value="2"></option>
           </detalist>
           <!--제출버튼-->
           <button type="submit" class="subm" style="float: right">
           
               <img src="resource\arrowbutton-next.png" alt=""> &nbsp 저장
           </button>
        </form>
        </div>

          <div class="softwarebox">  
            <p class="software-name"> <b>OverWatch </b></p>
            <img class="software_image" src="resource/overwatch.jpg" alt="image" >
            <!--조절바-->
            <form>
                <label for="customrange" class="form-label">사양정도</label>
                <input type="range" class="form-range" min="0" max="2" step="1"  list="tickmarks"/>
      
                <label for="customrange" class="form-label">그래픽</label>
                <input type="range" class="form-range" min="0" max="2" step="1"  list="tickmarks"/>
                 <detalist id="tickmarks">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                 </detalist>
                 <!--제출버튼-->
                 <button type="submit" class="subm" style="float: right">
                 
                     <img src="resource\arrowbutton-next.png" alt=""> &nbsp 저장
                 </button>
              </form>
              </div>

          <div class="softwarebox">  
            <p class="software-name"> <b>League Of Legend </b></p>
            <img class="software_image" src="resource\lol.png" alt="image" >
            <!--조절바-->
            <form>
                <label for="customrange" class="form-label">사양정도</label>
                <input type="range" class="form-range" min="0" max="2" step="1"  list="tickmarks"/>
      
                <label for="customrange" class="form-label">그래픽</label>
                <input type="range" class="form-range" min="0" max="2" step="1"  list="tickmarks"/>
                 <detalist id="tickmarks">
                  <option value="0"></option>
                  <option value="1"></option>
                  <option value="2"></option>
                 </detalist>
                 <!--제출버튼-->
                 <button type="submit" class="subm" style="float: right">
                 
                     <img src="resource\arrowbutton-next.png" alt=""> &nbsp 저장
                 </button>
              </form>
              </div>
    {% endblock %}