<!--테스트를 위해 만들어 놓은 파일입니다!-->
{% load static %}

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITLE</title>
    <style>
    
        @font-face {
            font-family: 'bitrocoreTTF';
            src: url("{% static  'fonts/bitrocoreTTF.ttf' %}");
        }
        body{
            margin: 30px;
            background-color: #2B2C36;
            color: #14FF2D;
            color: white;
            font-size: 20px;
            text-align: center;
        }

        #LOGO{
            color:#14FF2D;
            font-size: 20px;
            font-family: 'bitrocoreTTF';
        }

    </style>
</head>

<body>
    <article>
        <div id="LOGO" style="font-size:100px">CUTONB</div>
        <h2>당신에게 가장 맞는 <br>
            노트북을 찾아드립니다</h2>
        <a href="{% url 'page1' %}">page1</a>
        <a href="{% url 'page1_5' %}">page1.5</a>
        <a href="{% url 'page2' %}">page2</a>
        <a href="{% url 'login' %}">login</a><br>
        <a href="{% url 'logout' %}">logout</a><br>
        <a href="{% url 'signup' %}">signup</a><br>

        {% if user.is_authenticated %}
        {{user.username}}
        {% endif %}
    </article>
</body>
</html>