{% extends 'base.html' %}

{% block style %}
<style>
    button{
        display:block;
        background-color: #1D1F25;
        border: 1px solid #14FF2D ;
        cursor: pointer;
        padding: 5px 10px 6px 7px;
        color:#cccccc;
        border-radius: 3px;
    }
    button img{
        border: 0;
        padding:0;
        width: 16px;
        height:16px; 
    }
    button.subm:hover{
        background-color:#14FF2D;
        border:1px solid #1D1F25;
        color:#1D1F25;
        border-radius: 3px;
    }
    ul{
       list-style-type:none;
       text-align:left;
    }
    div.box1{
       float:left;
       text-align: center;
       background-color:#1D1F25;
       position: absolute;
       left: 100px;
       top: 100px;  
       height: 400px;
       width:200px;
       border-radius:10px 0 10px;
    }
    div.box2{
       float:left;
       text-align: center;
       background-color:#1D1F25;
       position: absolute;
       left: 350px;
       top: 100px;  
       height: 320px;
       width:200px;
       border-radius:10px 0 10px;
    }
    div.box3{
       float:left;
       text-align: center;
       background-color:#1D1F25;
       position: absolute;
       left: 600px;
       top: 100px;  
       height: 320px;
       width:200px;
       border-radius:10px 0 10px;
    }
    div.box4{
       float:left;
       text-align: center;
       background-color:#1D1F25;
       position: absolute;
       left: 850px;
       top: 100px;  
       height: 320px;
       width:250px;
       border-radius:10px 0 10px;
    }
    li.page2{
       line-height:40px;
    }
</style>
{% endblock %}

{% block body %}
    <form>
        <div class="box1">
            <h2 style="color:#14FF2D;">제조사</h2>
            <ul>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="LG전자">LG전자</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="삼성전자">삼성전자</label>
                </li>
                <li class="page2">
                        <label><input type="checkbox" name="pre" value="ASUS">ASUS</label>
                </li>
                <li class="page2">
                        <label><input type="checkbox" name="pre" value="레노버">레노버</label>
                </li>        
                <li class="page2">
                        <label><input type="checkbox" name="pre" value="HP">HP</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="APPLE">APPLE</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="한성컴퓨터">한성컴퓨터</label>
                </li>
            </ul>
        </div>
        <div class="box2">
            <h2 style="color:#14FF2D;">무게</h2>
            <ul>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="_1">1kg 미만</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="_2">1.0~1.4kg</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="_3">1.4~1.7kg</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="_4">1.7~2.0kg</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="_5">2.0~2.3kg</label>
                </li>
            </ul>
        </div>
        <div class="box3">
            <h2 style="color:#14FF2D;">화면크기</h2>
            <ul>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="__1">17인치대</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="__2">16인치대</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="__3">15인치대</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="__4">14인치대</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="__5">13인치대</label>
                </li>
            </ul>
        </div>
        <div class="box4">
            <h2 style="color:#14FF2D;">운영체제</h2>
            <ul>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="프리도스">미포함(프리도스)</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="윈도우10">윈도우10</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="윈도우10 프로">윈도우10프로</label>
                </li>
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="macOS">macOS</label>
                </li class="page2">
                <li class="page2">
                    <label><input type="checkbox" name="pre" value="리눅스">리눅스</label>
                </li>
            </ul>
        </div>
        <button type="submit" class="subm" style="float: right">
            <img src="resource\arrowbutton-next.png" alt=""> &nbsp 선택
        </button>
        <button type="reset" class="subm" style="float: right">
            <img src="resource\arrowbutton-next.png" alt=""> &nbsp 리셋
        </button>
        <div class="next">
            <a href="#" style="color:#1D1F25"><strong>다음</strong></a>
        </div>
    </form>
{% endblock %}
