<!--테스트를 위해 만들어 놓은 파일입니다!-->

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITLE</title>
    <style>

        @font-face {
            font-family: 'bitrocoreTTF';
            src: url('fonts/bitrocoreTTF.ttf');
        }
        body{
            margin: 30px;
            background-color: #2B2C36;
            color: #14FF2D;
            color: white;
            font-size: 20px;
            text-align: center;
        }

        #LOGO{
            color:#14FF2D;
            font-size: 20px;
            font-family: 'bitrocoreTTF';
        }

    </style>
</head>

<body>
    <article>
        <div id="LOGO" style="font-size:250px">웹404</div>
        
    </article>
</body>
</html>