

{% extends 'base.html' %}

{% block style %}

<script src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>

<script>
function isboxchecked(softname){
    if($('#'+softname).is(":checked") == true){
        $('#'+softname+'_label').css('box-shadow', '0 0 0 #16D2FF');
    }else{
        $('#'+softname+'_label').css('box-shadow', '20px 15px 20px #14FF2D44');
    }
}
</script>

<style>
    input[type="checkbox"]{
    display:none;
    }
    #hihi_label {
        box-shadow: 0 0 50px #14FF2D;
    }
</style>
{% endblock %}

{% block body %}

<form action="">
    {%for soft in softs%}
    <!--나중에 꼭 수정하기!!!-->
    <input type="checkbox" name="name_{{soft.name}}" id="{{soft.name}}"/><label for="{{soft.name}}" onClick="isboxchecked('{{soft.name}}')"><img id="{{soft.name}}_label" src="{{soft.img.url}}" width="250" height="150" /></label>
    {%endfor%}

</form>

{% endblock %}